
// Colors
$black: #000000;
$white: #ffffff;
$grey: #c2c3c3;
$grey-dark: #9c9d9d;
$orange: #ff5b30;
$green: #8dbc46;


// Typography
$futura-bold: 'futura-bold';
$text-small: 0.75rem;
$text-base: 1rem;
$text-medium: 1.25rem;
$text-large: 1.8rem;


/* Media Query Breakpoints */
$small: 600px;
$medium: 768px;
$large: 1024px;