#sessions-group {
	padding-top: 2rem;
	padding-bottom: 2rem;
	.session-box-wrapper {
		display: block;
		width: 100%;
		margin-bottom: 2rem;
		text-decoration: none;
		&:hover {
			color: inherit;
		}
		img {
			display: block;
			width: 100%;
		}
		.session-box {
			background: $white;
			padding: 1.5rem;
			text-align: center;
			.motion {
				padding: 1rem 0 2rem;
				margin-bottom: 1.5rem;
				font-family: $futura-bold;
				font-size: $text-large;
				line-height: 1.3;
				color: $orange;
				border-bottom: 1px solid $grey-dark;
				&:hover {
					color: $green;
				}
			}
			.where, .when, .winner, .trophy {
				float: left;
				img {
					width: 100%;
				}
			}
			.where, .when {
				width: 50%;
			}
			.trophy {
				width: 40%;				
			}
			.winner {
				width: 60%;
				text-align: left;
				padding-top: 1rem;
				@media screen and (min-width: $medium) {
					padding-top: 2rem;
				}
				.winner-large {
					font-family: $futura-bold;
					font-size: $text-medium;
					line-height: 1;
					@media screen and (min-width: $medium) {
						font-size: $text-large;
					}
					span {
						display: block;
						@media screen and (min-width: $large) {
							font-size: 2.5rem;
						}
					}
				}
			}
		}
		.session-button {
			font-family: $futura-bold;
			text-transform: uppercase;
			letter-spacing: 0.125em;
			padding: 1rem;
			background: $black;
			color: $white;
			&:hover {
				background: $green;
			}
		}
	}
}

@media screen and (min-width: $small) {
	#sessions-group {
		@include clearfix;
		padding-top: 3rem;
		padding-bottom: 3rem;
		.session-box-wrapper {
			width: 50%;
			margin-bottom: 4rem;
			float: left;
			&:nth-child(odd) {
				padding-right: 1rem;
			}
			&:nth-child(even) {
				padding-left: 1rem;
			}
		}
	}	
}

@media screen and (min-width: $medium) {
	#sessions-group {
		.session-box-wrapper {
			.session-box {
				padding: 3rem;
			}
		}
	}	
}